<!-- ======= About Section ======= -->
<div id="about" class="about-area area-padding">
  <div class="container">
    <div class="row">
      <!-- Titulo -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Acerca De</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Video -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <video width="100%" height="100%" controls>
          <source src="../../../assets/img/videos/video-acerca-de.mp4" type="video/mp4">
          Tu navegador no admite el elemento de video.
        </video>
      </div>
      <!-- Tarjeta de texto -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well-middle">
          <div class="single-well">
            <h4 class="sec-head">Portanova Center</h4>
            <p>
              Somos un centro de negocios, medicina y salud, comercial e industrial, situado estratégicamente en el
              centro de Llanogrande. Con mas de 8 años de experiencia en el mundo empresarial, hemos ayudado a
              innumerables clientes a alcanzar el éxito.
            </p>
            <ul>
              <li>
                <i class="bi bi-check"></i> A 1 minuto del Hospital San Vicente Fundación
              </li>
              <li>
                <i class="bi bi-check"></i> A 5 minutos del Mall Llanogrande
              </li>
              <li>
                <i class="bi bi-check"></i> A 8 minutos del Aeropuerto Internacional José María Córdova
              </li>
              <li>
                <i class="bi bi-check"></i> A 18 minutos de Medellin, Colombia
              </li>
              <li>
                <i class="bi bi-check"></i> A 25 minutos del Alto de las Palmas, Medellin
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End col-->
    </div>
  </div>
</div><!-- End About Section -->