<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"
        style="background-image: url(../../../assets/img/front-page-carousel/front-page-img2.JPG);">
          <div class="carousel-caption d-md-block">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenidos a Portanova Center</h2>
              <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Empezar</a>
            </div>
          </div>
        </div>
        <div class="carousel-item"
        style="background-image: url(https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/261137889.jpg?k=c132e37479465c6e3f185e92ccd3ce04bebd8907ea0f8d9b5d34ebd8c4cb699a&o=);">
          <div class="carousel-caption d-md-block">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenidos a Portanova Center</h2>
              <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Empezar</a>
            </div>
          </div>
        </div>
        <div class="carousel-item"
          style="background-image: url(../../../assets/img/front-page-carousel/front-page-img1.JPG);">
          <div class="carousel-caption d-md-block">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenidos a Portanova Center</h2>
              <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Empezar</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <i class="bi bi-chevron-left big-icon"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <i class="bi bi-chevron-right big-icon"></i>
      </button>
    </div>
  </div>
</section>