<!-- ======= Services Section ======= -->
<div id="services" class="services-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
          <h2>Servicios</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon">
                <i class="bi bi-shop"></i>
              </a>
              <h4>Restaurantes</h4>
              <p>
                Nuestros restaurantes están diseñados para brindarte un ambiente cálido y acogedor, podrás relajarte en
                un entorno pintoresco y disfrutar de la tranquilidad del campo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon">
                <i class="bi bi-capsule"></i>
              </a>
              <h4>Farmacias</h4>
              <p>
                Nuestras farmacias cuentan con farmacéuticos altamente capacitados y profesionales que están disponibles
                para brindarle asesoramiento sobre medicamentos recetados y de venta libre.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon">
                <i class="bi bi-heart-pulse-fill"></i>
              </a>
              <h4>Consultorios Medicos</h4>
              <p>
                Nuestro equipo de médicos altamente capacitados y especialistas está dedicado a abordar todas sus
                necesidades de atención médica.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon">
                <i class="bi bi-building"></i>
              </a>
              <h4>Oficinas</h4>
              <p>
                Ofrecemos una variedad de opciones de espacio de trabajo para adaptarse a sus necesidades, desde
                oficinas privadas. Cada espacio se puede personalizar según sus preferencias.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon">
                <i class="bi bi-calendar-event-fill"></i>
              </a>
              <h4>Eventos</h4>
              <p>
                Ofrecemos una variedad de espacios versátiles que se pueden adaptar a sus necesidades. Desde salones de
                banquetes elegantes hasta áreas al aire libre con encanto, tenemos el lugar adecuado para su evento.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon">
                <i class="bi bi-car-front-fill"></i>
              </a>
              <h4>Paradas</h4>
              <p>
                En nuestro viaje por la carretera, todos sabemos lo importante que es encontrar un lugar donde detenerse
                y disfrutar de una deliciosa comida, un buen descanso y un ambiente acogedor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Services Section -->