<div>
  <!-- ======= Header ======= -->
  <app-header></app-header>

  <!-- ======= Front Page ======= -->
  <app-front-page></app-front-page>

  <main id="main">

    <app-clients></app-clients>

    <!-- ======= About Section ======= -->
    <app-about></app-about>

    <!-- ======= Services Section ======= -->
    <app-provides-services></app-provides-services>

    <!-- ======= Portfolio Section ======= -->
    <app-portafolio></app-portafolio>

    <!-- ======= Contact Section ======= -->
    <app-contact></app-contact>

  </main>

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
</div>

<div>
  <app-detail-portafolio></app-detail-portafolio>
</div>