
<!-- ======= Header ======= -->
    <app-header></app-header>

    <!-- ======= Front Page ======= -->
    <app-front-page></app-front-page>
  
    <main id="main">

      <!-- ======= About Section ======= -->
      <app-about></app-about>

      <!-- ======= Services Section ======= -->
      <app-provides-services></app-provides-services>

      <!-- ======= Portfolio Section ======= -->
      <app-portafolio></app-portafolio>
  
      <!-- ======= Team Section ======= -->
      <app-team></app-team>
  
      <!-- ======= Testimonials Section ======= -->
      <app-testimonials></app-testimonials>

      <!-- ======= Contact Section ======= -->
      <app-contact></app-contact>
  
    </main>
  
    <!-- ======= Footer ======= -->
    <app-footer></app-footer>
  

