<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
                <div class="swiper-slide"><img src="https://qph.cf2.quoracdn.net/main-qimg-21ac375b4d1793a6bc7d791975deb26f-lq" class="img-fluid" alt="" height="70px" width="70px"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Clients Section -->