<hr>
<!-- ======= Portfolio Section ======= -->
<div id="portfolio" class="portfolio-area area-padding fix">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Directorio</h2>
        </div>
      </div>
    </div>
    <div class="row wesome-project-1 fix">
      <!-- Start Portfolio -page -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul id="portfolio-flters">
          <li (click)="filteredItems = premises">Todos</li>
          <li (click)="filterByCategory('Restaurante')">Restaurantes</li>
          <li (click)="filterByCategory('Papeleria')">Papelerias</li>
        </ul>
      </div>
    </div>

    <div class="row awesome-project-content portfolio-container">

      <!-- portfolio-item start -->
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item portfolio-item"
        *ngFor="let facility of filteredItems">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <img src="assets/img/portfolio/1.jpg" alt="" />
            <div class="add-actions text-center">
              <div class="project-dec">
                <h4>{{facility.name}}</h4>
                <span>{{facility.businessType}}</span><br>
                <button class="btn-get-detail" (click)="navegarADetalle(facility.locationNumber)">Ir a Detalle</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>